<div class="container  text-center mt-5 mb-5 bg-gray">
    <mat-card>
        <div  *ngIf="pageType ==='edit'">
            <h5 class="card-title">Edit Employee Details</h5>
        </div>
        <div  *ngIf="pageType ==='new'">
            <h5 class="card-title">Add Employee Details</h5>
        </div>
        
        <form class="card-body p-24" [formGroup]="EmployeeForm">
            <div fxLayout="row" fxLayoutAlign="space-between">
                <mat-form-field appearance="outline" floatLabel="always" fxFlex="33">
                    <mat-label>Employee Name</mat-label>
                    <input matInput name="name" formControlName="name" required>
                    <mat-error *ngIf="errorHandling('name', 'required')" class="text-danger">
                        <mat-icon>warning</mat-icon>
                        You must provide a <strong>name</strong> 
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" floatLabel="always" fxFlex="33">
                    <mat-label>City</mat-label>
                    <input matInput name="city" formControlName="city" required>
                </mat-form-field>
                <mat-form-field appearance="outline" floatLabel="always" fxFlex="33">
                    <mat-label>Department</mat-label>
                    <mat-select formControlName="department" required placeholder="Department">
                        <mat-option *ngFor="let department of departmentDDL" [value]="department.departmentId">
                            {{department.departmentName}}
                          </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
    
            <div fxLayout="row" fxLayoutAlign="space-between">
                <mat-form-field appearance="outline" floatLabel="always" fxFlex="49">
                    <mat-label>Gender</mat-label>
                    <mat-select formControlName="gender" required placeholder="Gender">
                        <mat-option *ngFor="let gender of genderDDL" [value]="gender.genderId">
                            {{gender.genderName}}
                          </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline" floatLabel="always" fxFlex="49">
                    <mat-label>Phone Number</mat-label>
                    <input matInput name="phoneNumber" formControlName="phoneNumber">
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="space-between">
                <div fxFlex="75" >

                </div>
                <div fxFlex="14" fxLayout="row" fxLayoutAlign="space-between">
                    <button type="button" class="btn btn-outline-success" (click)="SaveEmployeeDetails()">Save</button>
                    <button type="button" class="btn btn-outline-danger" [routerLink]="'/employee/list/'">Cancel</button>
                    
                </div>
                
            </div>
            
        </form>
    </mat-card>

</div>
