/* Structure */
table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 45%;
    display:grid;
    padding: 10px;
  }

  .grid-item {
    padding: 20px;
  }

  .grid-container {
    display: grid;
    padding: 10px;
  }

  .btn-outline-info{
    margin-bottom: 20px;
    width: 43%;
  }

  td, th {
    width: 5%;
  }

  .w-40{
    width: 40;
  }

  .w-10{
    width: 10;
  }

  .w-50{
    width: 50;
  }
  