<div class="container  text-center mt-5 mb-5 bg-gray">
    <mat-card>
        <div *ngIf="pageType ==='edit'">
            <h5 class="card-title">Edit RRF Record</h5>
        </div>
        <div *ngIf="pageType ==='new'">
            <h5 class="card-title">Add RRF Record</h5>
        </div>

        <form class="card-body p-24" [formGroup]="RRFForm">
            <div fxLayout="row" fxLayoutAlign="space-between">
                <mat-form-field appearance="outline" floatLabel="always" fxFlex="33">
                    <mat-label>Manager</mat-label>
                    <mat-select name="managerId" formControlName="ManagerId" required>
                        <mat-option *ngFor="let element of resourceDDL" [value]="element.id">
                            {{element.value}}                                                  
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline" floatLabel="always" fxFlex="33">
                    <mat-label>Client</mat-label>
                    <mat-select name="clientId" formControlName="ClientId" required>
                        <mat-option *ngFor="let element of clientDDL" [value]="element.id">
                            {{element.value}}                                                  
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline" floatLabel="always" fxFlex="33">
                    <mat-label>ProjectId</mat-label>
                    <input matInput type="number" name="ProjectId" formControlName="ProjectId" required>
                    <mat-error *ngIf="errorHandling('ProjectId', 'required')" class="text-danger">
                        <mat-icon>warning</mat-icon>
                        You must provide a <strong>name</strong>
                    </mat-error>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="space-between">
                <mat-form-field appearance="outline" floatLabel="always" fxFlex="33">
                    <mat-label>SubmissionDate</mat-label>
                    <input matInput [matDatepicker]="picker" name="SubmissionDate" formControlName="SubmissionDate"
                        required>
                    <mat-hint>MM/DD/YY</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <mat-form-field appearance="outline" floatLabel="always" fxFlex="33">
                    <mat-label>Role</mat-label>
                    <mat-select name="roleId" formControlName="RoleId" required>
                        <mat-option *ngFor="let element of roleDDL" [value]="element.id">
                            {{element.value}}                                                  
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline" floatLabel="always" fxFlex="33">
                    <mat-label>IsBillable</mat-label>
                    <mat-select name="billableId" formControlName="IsBillable" required>
                        <mat-option *ngFor="let element of billableDDL" [value]="element.id">
                            {{element.value}}                                                  
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>


            <div fxLayout="row" fxLayoutAlign="space-between">
                <mat-form-field appearance="outline" floatLabel="always" fxFlex="33">
                    <mat-label>BillingRate</mat-label>
                    <input matInput name="BillingRate" type="number" formControlName="BillingRate" required>
                </mat-form-field>
                <mat-form-field appearance="outline" floatLabel="always" fxFlex="33">
                    <mat-label>BillingStartDate</mat-label>
                    <input matInput [matDatepicker]="picker2" name="BillingStartDate" formControlName="BillingStartDate"
                        required>
                    <mat-hint>MM/DD/YY</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
                <mat-form-field appearance="outline" floatLabel="always" fxFlex="33">
                    <mat-label>PositionType</mat-label>
                    <mat-select name="positiontypeId" formControlName="PositionTypeId" required>
                        <mat-option *ngFor="let positiontype of positiontypesDDL" [value]="positiontype.id">
                            {{positiontype.value}}                                                  
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="space-between">
                <mat-form-field appearance="outline" floatLabel="always" fxFlex="33">
                    <mat-label>IsInternalResource</mat-label>
                    <mat-select name="isInternalResource" formControlName="IsInternalResource" required>
                        <mat-option *ngFor="let element of isinternalresourceDDL" [value]="element.id">
                            {{element.value}}                                                  
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline" floatLabel="always" fxFlex="33">
                    <mat-label>IdentifiedResource</mat-label>
                    <mat-select name="identifiedResource" formControlName="IdentifiedResource" required>
                        <mat-option *ngFor="let element of resourceDDL" [value]="element.id">
                            {{element.value}}                                                  
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline" floatLabel="always" fxFlex="33">
                    <mat-label>NumberOfPosition</mat-label>
                    <mat-select name="numberOfPosition" formControlName="NumberOfPositionId" required>
                        <mat-option *ngFor="let position of numberofpositionDDL" [value]="position.id">
                            {{position.value}}                                                  
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="space-between">
                <mat-form-field appearance="outline" floatLabel="always" fxFlex="33">
                    <mat-label>PayroleTypeId</mat-label>
                    <mat-select name="isInternalResource" formControlName="IsInternalResource" required>
                        <mat-option *ngFor="let element of payroletypesDDL" [value]="element.id">
                            {{element.value}}                                                  
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline" floatLabel="always" fxFlex="33">
                    <mat-label>ApprovedByResourceId</mat-label>
                    <mat-select name="approvedByResourceId" formControlName="ApprovedByResourceId" required>
                        <mat-option *ngFor="let element of resourceDDL" [value]="element.id">
                            {{element.value}}                                                  
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline" floatLabel="always" fxFlex="33">
                    <mat-label>PrimaryTechnologies</mat-label>
                    <input matInput name="PrimaryTechnologies" formControlName="PrimaryTechnologies" required>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="space-between">
                <mat-form-field appearance="outline" floatLabel="always" fxFlex="33">
                    <mat-label>MinimumYearsOfExperienceId</mat-label>
                    <mat-select name="minimumYearsOfExperience" formControlName="MinimumYearsOfExperienceId" required>
                        <mat-option *ngFor="let element of minimumyearsofexperienceDDL" [value]="element.id">
                            {{element.value}}                                                  
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline" floatLabel="always" fxFlex="33">
                    <mat-label>MandatorySkills</mat-label>
                    <input matInput name="MandatorySkills" formControlName="MandatorySkills" required>
                </mat-form-field>
                <mat-form-field appearance="outline" floatLabel="always" fxFlex="33">
                    <mat-label>NiceToHaveSkills</mat-label>
                    <input matInput name="NiceToHaveSkills" formControlName="NiceToHaveSkills" required>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="space-between">
                <mat-form-field appearance="outline" floatLabel="always" fxFlex="33">
                    <mat-label>JobLocation</mat-label>
                    <input matInput name="JobLocation" formControlName="JobLocation" required>
                </mat-form-field>
                <mat-form-field appearance="outline" floatLabel="always" fxFlex="33">
                    <mat-label>IsRemotelyId</mat-label>
                    <mat-select name="isRemotelyId" formControlName="IsRemotelyId" required>
                        <mat-option *ngFor="let element of isremotelyDDL" [value]="element.id">
                            {{element.value}}                                                  
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline" floatLabel="always" fxFlex="33">
                    <mat-label>InterviewByResourceId</mat-label>
                    <mat-select name="interviewByResourceId" formControlName="InterviewByResourceId" required>
                        <mat-option *ngFor="let element of resourceDDL" [value]="element.id">
                            {{element.value}}                                                  
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="space-between">
                <mat-form-field appearance="outline" floatLabel="always" fxFlex="33">
                    <mat-label>JobDescription</mat-label>
                    <input matInput name="JobDescription" formControlName="JobDescription" required>
                </mat-form-field>
                <mat-form-field appearance="outline" floatLabel="always" fxFlex="33">
                    <mat-label>OtherInputs</mat-label>
                    <input matInput name="OtherInputs" formControlName="OtherInputs" required>
                </mat-form-field>
                <mat-form-field appearance="outline" floatLabel="always" fxFlex="33">
                    <mat-label>Remark</mat-label>
                    <input matInput name="Remark" formControlName="Remark" required>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="space-between">
                <div fxFlex="75">
                </div>
                <div fxFlex="14" fxLayout="row" fxLayoutAlign="space-between">
                    <button type="button" class="btn btn-outline-success" (click)="SaveRRFRecordDetails()">Save</button>
                    <button type="button" class="btn btn-outline-danger"
                        [routerLink]="'/employee/list/'">Cancel</button>
                </div>
            </div>

        </form>
    </mat-card>

</div>